

@model IEnumerable<ACETreasureHunt.Models.Team>

@{
    ViewBag.Title = "Details";
}
<div class="container well">
<h2>Details</h2>


    @if(Context.User.Identity.IsAuthenticated) {
    <button type="button" class="btn btn-primary btn-lg btn3d">
   @Html.ActionLink("Create New", "Create")
    </button>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            
            @if(Context.User.Identity.IsAuthenticated) {<button type="button" class="btn btn-primary btn-xs btn3d" style="color:aliceblue">@Html.ActionLink("Edit", "Edit", new { id = item.EventID })</button>
            <button type="button" class="btn btn-primary btn-xs btn3d" style="color:aliceblue">@Html.ActionLink("Details", "Details", new { id = item.EventID })</button>
            <button type="button" class="btn btn-primary btn-xs btn3d" style="color:aliceblue">@Html.ActionLink("Delete", "Delete", new { id = item.EventID })</button>
           }
        </td>
    </tr>
}

</table>

@foreach (var team in ViewBag.MyList)
{
    <div>@team.Name</div>
}

<h1>Events</h1>

@foreach (var event2 in ViewBag.MyList2)
{
    <div>@event2.Name</div>
}
</div>